body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
}

.table-row-achievement {
    color: #10b981;
}

.table-row-gap {
    color: #ef4444;
}

.quarter-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.quarter-table th, .quarter-table td {
    padding: 0.625rem 0.25rem;
    text-align: center;
    border-bottom: 1px solid #f3f4f6;
    white-space: nowrap;
}

.quarter-table th {
    background-color: #f9fafb;
    font-weight: 600;
    font-size: 0.75rem;
    color: #4b5563;
}

.quarter-table tbody tr:hover {
    background-color: #f9fafb;
}

.hierarchy-container {
    position: relative;
    padding-left: 1.5rem;
}

.hierarchy-item {
    position: relative;
    padding-left: 1rem;
}

.hierarchy-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 1rem;
    background-color: #d1d5db;
    transform: translateY(-1px);
}

.hierarchy-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #d1d5db;
}

.hierarchy-item:last-child::after {
    height: 50%;
}

.filter-button-group button.active {
    background-color: #f3f4f6; /* Lighter grey for active button */
    color: #1f2937;
    box-shadow: none;
}
.filter-button-group button {
    color: #4b5563;
}
